extends ../layout

block title
  title #{sitetitle} | My Account

block content

  div.container

    h1 My Account

    div.section

      h3 Contact Info
      ul
        li= user.name
        li= user.id
        li= user.phone

      h3 My Spaces
      ul.list-group
        each space in spaces 
          li.list-group-item
            | #{space.address}, #{space.zip}  
            a.btn.btn-success.btn-sm(href="/space/view/#{space.id}") view
            | 
            a.btn.btn-primary.btn-sm(href="/space/edit/#{space.id}") edit
            | 
            a.btn.btn-danger.btn-sm(href="/space/remove/#{space.id}") delete
            //- @TODO Determine if space deactivation/activation is necessary