extends ../layout

block title
  title #{sitetitle} | Edit Space Details

block content

  div.container

    h1 Edit Space Details

    p Edit your space details below. 
    //- You can increase your space's popularity by including more details and uploading several good-quality photos.

    p.note
      small *Required fields.


      div.section

        if noAddressZip
          div.alert.alert-danger Please ensure that you've provided a valid address and zip code when making changes to a space.

        h2 Location and Contact Info

        
        div.row
          div.col-md-6
            form.form-location(method="POST" data-ajax="true" data-ajax-url="/api/space/update")
              input(type="hidden" name="_id" value=space._id)

              label
                | *Address: 
                input.form-control(name="address" type="text" maxlength="128" value="#{space.address}" data-orig="#{space.address}")
                span

              label
                | City: 
                input.form-control(name="city" type="text" maxlength="128" value="#{space.city}")

              label
                | *Zip Code: 
                input.form-control(name="zip" type="text" maxlength="10" value="#{space.zip}" data-orig="#{space.zip}")
                span

              label
                | *Contact Email: 
                //- @TODO the else condition shouldn't be necessary
                if space.contact
                  input.form-control(name="contact" type="text" value="#{space.contact}" disabled) 
                else
                  input.form-control(name="contact" type="text" value="#{session.user}") 

              input(type="hidden" value=space.geo.lat name="lat")
              input(type="hidden" value=space.geo.lng name="lng")
            

          div.col-md-6
            div#googlemap(style="min-height:250px")


    hr

    div.section
      h2 Photos

      if images && images.length
        ul
          each image in images
            li= image.url

      div.row
        div.col-sm-6
          form.form-uploader(entype='multipart/form-data')
            input(type="hidden" name="_id" value=space._id)
            input.form-control(type='file' name='imageupload')

    hr


    form.form-options(data-ajax="true" data-ajax-url="/api/space/update")

      input(type="hidden" name="_id" value=space._id)
      
      div.section

        h2 Size and Type

        div.row

          div.col-sm-6
            label 
              | Type of space: 
              select.form-control(name="type")
                option(value="") Select one...
                each val in ['Storefront', 'Office Only', 'Loft/Mixed Use', 'Land/Property']
                  if (space.type == val)
                    option(value=val selected)= val
                  else
                    option(value=val)= val
                
            label 
              | Preferred length of lease:
              select.form-control(name="leaseLength") 
                option(value="") None
                each val in ['Single-day Use', 'Multi-day Use', 'Multi-week Use', 'Long-term Use']
                  if (space.leaseLength == val)
                    option(value=val selected)= val
                  else
                    option(value=val)= val
                

          div.col-sm-6
            label
              | Area: 
              small (square feet) 
              input.form-control(type="text" size="5" name="area" maxlength="5" value=space.area) 

            label
              | Maximum occupancy:
              input.form-control(type="text" size="5" name="maxOccupants" maxlength="5" value=space.maxOccupants) 

          

      div.section

        h2 Allowed Uses

        div.row
          div.col-sm-6
            label Allow on premises:
            //- @TODO refactor/shrink allowed uses and amenities checkbox template logic. ick.
            div.grouped
              label
                if space.allowed.foodBev
                  input(type="checkbox" name="allowed.foodBev" checked="checked")
                else
                  input(type="checkbox" name="allowed.foodBev")
                |  Food &amp; beverage

              label
                if space.allowed.alcohol
                  input(type="checkbox" name="allowed.alcohol" checked="checked")
                else
                  input(type="checkbox" name="allowed.alcohol")
                |  Alcohol 

              label
                if space.allowed.music
                  input(type="checkbox" name="allowed.music" checked="checked")
                else
                  input(type="checkbox" name="allowed.music")
                |  Loud music/noise 
                small (with owner approval)

          div.col-sm-6
            label Allowed modifications of space:

            div.grouped
              label
                if space.allowed.modifications == 'None'
                  input(type="radio" name="allowed.modifications" value="None" checked="checked") 
                else
                  input(type="radio" name="allowed.modifications" value="None") 
                |  None

              label
                if space.allowed.modifications == 'Non-intrusive'
                  input(type="radio" name="allowed.modifications" value="Non-intrusive" checked="checked") 
                else 
                  input(type="radio" name="allowed.modifications" value="Non-intrusive") 
                |  Non-intrusive only 
                small (wall hangings, for example)

              label
                if space.allowed.modifications == 'Intrusive'
                  input(type="radio" name="allowed.modifications" value="Intrusive" checked="checked") 
                else
                  input(type="radio" name="allowed.modifications" value="Intrusive") 
                |  Intrusive  
                small (with owner's permission)


      div.section

        h2 Amenities

        div.row
          div.col-sm-4
            div.grouped 
              label
                if space.amenities.wifi
                  input(type="checkbox" name="amenities.wifi" checked="checked") 
                else
                  input(type="checkbox" name="amenities.wifi") 
                |  Wireless internet

              label
                if space.amenities.parkingOnSite
                  input(type="checkbox" name="amenities.parkingOnSite" checked="checked") 
                else
                  input(type="checkbox" name="amenities.parkingOnSite") 
                |  On-site parking

              label
                if space.amenities.handicap
                  input(type="checkbox" name="amenities.handicap" checked="checked") 
                else
                  input(type="checkbox" name="amenities.handicap") 
                |  Handicap Access

              label
                if space.amenities.furnished
                  input(type="checkbox" name="amenities.furnished" checked="checked") 
                else
                  input(type="checkbox" name="amenities.furnished") 
                |  This space is furnished

          div.col-sm-4
            label Bathroom facilities:

            div.grouped
              label
                if space.amenities.bathroom == 'None'
                  input(type="radio" name="amenities.bathroom" value="None" checked="checked") 
                else
                  input(type="radio" name="amenities.bathroom" value="None") 
                |  None
              label
                if space.amenities.bathroom == 'Single'
                  input(type="radio" name="amenities.bathroom" value="Single" checked="checked") 
                else
                  input(type="radio" name="amenities.bathroom" value="Single") 
                |  Single bathroom
              label
                if space.amenities.bathroom == 'Multiple'
                  input(type="radio" name="amenities.bathroom" value="Multiple" checked="checked") 
                else
                  input(type="radio" name="amenities.bathroom" value="Multiple") 
                |  Multiple bathrooms

          div.col-sm-4
            label Kitchen facilities:

            div.grouped
              label
                if space.amenities.kitchen == 'None'
                  input(type="radio" name="amenities.kitchen" value="None" checked="checked") 
                else
                  input(type="radio" name="amenities.kitchen" value="None") 
                |  None
              label
                if space.amenities.kitchen == 'Partial'
                  input(type="radio" name="amenities.kitchen" value="Partial" checked="checked")
                else
                  input(type="radio" name="amenities.kitchen" value="Partial") 
                |  Partial kitchen
              label
                if space.amenities.kitchen == 'Full'
                  input(type="radio" name="amenities.kitchen" value="Full" checked="checked") 
                else
                  input(type="radio" name="amenities.kitchen" value="Full") 
                |  Full kitchen


    div.section
      form.form-description(data-ajax="true" data-ajax-url="/api/space/update")

        input(type="hidden" name="_id" value=space._id)
        
        h2 Description
        
        p.not-too-wide Enter your description below. You may wish to include details about allowed uses, amenities or other details.

        //- @TODO adjust Form class to handle this textarea without being nested in an unused label. so lame.
        label
          textarea.form-control.not-too-wide(name="description" rows="10" cols="20")= space.description

      //- input.btn.btn-success(type="submit" name="submit" value="Save Space Details") 

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(src="/assets/js/cs.js")
  script(src="/assets/js/pages/space.edit.js")
