extends ../layout

block title
  title #{sitetitle} | Edit Space Details

block content

  div.container

    h1 Space Details

    div.section

      
      div#googlemap.spaceview

      div.row
        div.col-md-6

          h3 Address

          p
            strong
              | #{space.address}
              br 
              if space.city
                | #{space.city}, 
              | #{space.zip}

          p
            | Contact: 
            strong #{space.contact}


          h3 Size and Type
            
          p 
            | Type of Space: 
            strong #{space.type}
            
          p 
            | Preferred length of lease: 
            strong #{space.leaseLength}
            
          p 
            | Area (sq ft): 
            strong #{space.area}

          p 
            | Maximum occupancy: 
            strong #{space.maxOccupants}

        div.col-md-6
          h3 Allowed Uses
          p
            | Food and beverages allowed?   
            strong
              if space.allowed.foodBev
                | Yes
              else
                | No

          p 
            | Alcohol allowed?  
            strong
              if space.allowed.alcohol
                | Yes
              else
                | No

          p
            | Music allowed? 
            strong
              if space.allowed.music
                | Yes
              else
                | No
            
          p
            | Allowed modifications of space: 
            strong= space.allowed.modification

            
          h3 Amenities
          p
            | Wireless internet? 
            strong
              if space.amenities.wifi
                | Yes
              else
                | No

          p
            | Parking on site? 
            strong
              if space.amenities.parkingOnSite
                | Yes
              else 
                | No

          p
            | Handicap access? 
            strong
              if space.amenities.handicap
                | Yes
              else
                | No
          
          p  
            | Furnished? 
            strong
              if space.amenities.furnished
                | Yes
              else
                | No
    
          
          p
            | Bathroom facilities:  
            strong= space.amenities.bathroom

          p
            | Kitchen facilities: 
            strong= space.amenities.kitchen

      if space.description
        div.row
          div.col-md-6
            h3 Description
            div.well= space.description

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(src="/assets/js/cs.js")
  script.
    var cs = cs || {}
    cs.page = {
      init: function() {
        var lat, lng, marker, map;
        lat = "#{space.geo.lat}"; //33.7811643;
        lng = "#{space.geo.lng}"; //-84.38362970000003;
        marker = {
          label: "#{space.address}",
          infoHtml: "#{space.address}"
        };
        return cs.sharedMethods.initMap('#googlemap', lat, lng, marker);
      }
    }
    google.maps.event.addDomListener(window, 'load', cs.page.init);

